<footer class="page-footer white">
    <div class="footer-copyright">
        <div class="container">
            &copy; {{year}} MC-API.net
            <span class="right" style="text-align: right">
                Powered by <a target="_blank" rel="noopener" href="https://m.do.co/c/f8c7ada39e1b"><img class="powered-by-logo" src="/assets/powered_by_logo.png" alt="DigitalOcean" title="DigitalOcean"></a>
                <span class="footer-links-right">
                    <a target="_blank" rel="noopener" href="//github.com/mc-api/issues/issues">Issue Tracker</a>
                    <a target="_blank" rel="noopener" href="https://twitter.com/mc_api">Twitter</a>
                    <a target="_blank" rel="noopener" href="https://discord.gg/5SX6Uk3">Discord</a>
                    {{#adverts.enable}}
                    <a href="/advertise">Advertise</a>
                    {{/adverts.enable}}
                </span>
            </span>
            <span class="footer-links-left">
                <a>MC-API is not affiliated with Mojang AB, Microsoft or Minecraft.net</a>
            </span>
        </div>
    </div>
</footer>