<h3>Caching</h3>
<div class="row">
    <div class="col s12 m6">
        <h4>Server-side caching</h4>
        <p>We have a cache for most of our APIs, this means that if what you are asking for has been requested recently it will be provided quicker than if we went to the origin.</p>
        <p>For example, if you request information about the server IP <kbd>mc.hypixel.net</kbd>, we will check if it has been requested recently, if so we will provide you with the same response.</p>
        <p>This also works if you request a favicon for a server we have pinged recently, so we don't need to unnecessarily ping the server again.</p>
        <p>For those interested, we generally have 3 cache layers:</p>
        <ul class="inline-disc">
            <li>Internal &mdash; This is an in-memory store per <a href="//nodejs.org">node process</a>, the language the API server is written in.</li>
            <li>Redis &mdash; We have a Redis cache in place for regions where multiple backend servers are running.</li>
            <li>Varnish &mdash; We now also have a varnish cache in place, this replaced some cloudflare caching rules we had, which were less effective.</li>
        </ul>
        <p><strong>How long do you cache for?</strong></p>
        <p>It depends which API you are querying, please see the table below for cache duration.</p>
        <p>Our CDN provider, CloudFlare also caches some responses for performance and security reasons.</p>

        <table class="striped responsive-table highlight">
            <thead>
                <tr>
                    <td>API</td>
                    <td>Cache Duration</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/docs/ping">Server Ping</a></td>
                    <td>5 minutes</td>
                </tr>
                <tr>
                    <td><a href="/docs/favicon">Server Favicon</a></td>
                    <td>5 minutes</td>
                </tr>
                <tr>
                    <td><a href="/docs/blacklisted">Is server blacklisted?</a></td>
                    <td>None, we update the list from Mojang once per hour</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12 m6">
        <h4>Caching responses</h4>
        <p>We highly suggest you cache API responses locally within your application.</p>
        <p>To assist with this we send Cache-Control headers if you are sending ajax requests from a browser.</p>
        <p>There are several ways to do this depending on your application.</p>

        <h4>API Responses</h4>
        <p>If an API request returns cached data we will add fields to the JSON object, if applicable.</p>
        <ul class="inline-disc">
            <li><kbd>took</kbd> &dash; How long it took to process &amp; respond to your request, in milliseconds.</li>
            <li><kbd>source</kbd> &dash; Where your response came from, either cache or ping.</li>
            <li><kbd>cache.status</kbd> &dash; If your response 'hit' our cache or not</li>
            <li><kbd>cache.ttl</kbd> &dash; How long until the cached response expires (if applicable)</li>
            <li><kbd>cache.insertion_time</kbd> &dash; When the response was cached originally</li>
        </ul>
        <p>We also add HTTP headers to the response which you can interpret in your application.</p>
        <ul class="inline-disc">
            <li><kbd>MCAPI-Took</kbd> &dash; How long it took to process &amp; respond to your request, in milliseconds.</li>
            <li><kbd>MCAPI-Cache</kbd> &dash; If your request 'hit' our cache or not</li>
            <li><kbd>MCAPI-TTL</kbd> &dash; How long until the cached response expires (if applicable)</li>
            <li><kbd>X-Varnish-Hits</kbd> &dash; Potentially the number of hits our varnish cache server has had for this resource</li>
            <li><kbd>X-Varnish-Cache</kbd> &dash; Potentially if your request 'hit' our varnish cache server or not</li>
        </ul>
    </div>
</div>
