<h3 id="hello">Hello</h3>
<p>This is mc-api.net, a collection of Minecraft related APIs.</p>
<h4 id="usage">Usage</h4>
<p>Our APIs are simple to use, just follow the instructions below:</p>
<ol>
    <li>Find the API you want to use</li>
    <li>Send your request (<a href="/sandbox">Show me an example!</a>)</li>
    <li>We highly recommend <a href="/caching">caching</a> the response.</li>
</ol>
<h4 id="apis">What APIs are available?</h4>
<table class="striped responsive-table highlight">
    <thead>
        <tr>
            <td>Function</td>
            <td>Description</td>
            <td>Documentation</td>
            <td>Response Types</td>
        </tr>
    </thead>
    <tbody>
        {{#mcapi.api_list}}
        <tr>
            <td>{{function}}</td>
            <td>{{description}}</td>
            <td><a href="/docs/{{docs}}">/docs/{{docs}}</a></td>
            <td>{{{response_type_desc}}}</td>
        </tr>
        {{/mcapi.api_list}}
    </tbody>
</table>
{{^mcapi.api_list}}
<p style="text-align: center">No documentation found.</p>
{{/mcapi.api_list}}
<br>
<p>If an endpoint supports JSON, then that will be the default response type unless stated otherwise. To get a CSV (Plain Text) response append your request with <kbd>/csv</kbd></p>