<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">MC-API</a>

            <ul class="right">
                {{#mcapi.accounts}}
                <li><a href="/manage"><span class="icon icon-account-circle"></span> Account</a></li>
                {{#user.authed}}
                <li><a href="/logout">Logout</a></li>
                {{/user.authed}}
                {{/mcapi.accounts}}
                <li><a class="dropdown-button" data-activates="change-server-dropdown"><span class="flag-icon flag-icon-{{mcapi.flag}}"></span> Change Server &#9660;</a></li>
            </ul>
            <ul id="change-server-dropdown" class="dropdown-content">
                <li><a class="disabled" disabled>Change Server</a></li>
                <li class="divider"></li>
                {{#mcapi.region_list}}
                <li><a href="{{link}}" target="_blank" rel="noopener"><span class="flag-icon flag-icon-{{flag}}"></span> {{name}}</a></li>
                {{/mcapi.region_list}}
                {{#mcapi.geo_link.enable}}
                <li><a href="{{mcapi.geo_link.url}}" target="_blank" rel="noopener">Auto Detect <kbd>(BETA)</kbd></a></li>
                {{/mcapi.geo_link.enable}}
            </ul>
        </div>
    </nav>
    <div class="container">
        {{^adverts.hide}}
            {{#adverts.top}}
            <div class="campaign-top">
                <img src="/campaign/{{_id}}/track.gif">
                <a href="/campaign/{{_id}}/click" target="_blank" rel="noopener"><img src="/campaign/{{_id}}/banner"></a>
            </div>
            {{/adverts.top}}
            {{^adverts.top}}
                {{^adverts.hide_self}}
                <div class="campaign-top">
                    <a href="/advertise">
                        <img class="desktop" src="/assets/youradherebanner.png">
                        <img class="mobile" src="/assets/youradherebanner_mobile.png">
                    </a>
                </div>
                {{/adverts.hide_self}}
            {{/adverts.top}}
        {{/adverts.hide}}

        {{{ yield }}}

        {{^adverts.hide}}
            {{#adverts.bottom}}
            <div class="campaign-top">
                <img src="/campaign/{{_id}}/track.gif">
                <a href="/campaign/{{_id}}/click" target="_blank" rel="noopener"><img src="/campaign/{{_id}}/banner"></a>
            </div>
            {{/adverts.bottom}}
            {{^adverts.bottom}}
            {{#adverts.top}}{{! only show this if the top exists and bottom doesnt (don't want to show the same banner twice) }}
                {{^adverts.hide_self}}
                <div class="campaign-bottom">
                    <a href="/advertise">
                        <img class="desktop" src="/assets/youradherebanner.png">
                        <img class="mobile" src="/assets/youradherebanner_mobile.png">
                    </a>
                </div>
                {{/adverts.hide_self}}
            {{/adverts.top}}
            {{/adverts.bottom}}
        {{/adverts.hide}}
        {{#mcapi.enableAdsense}}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Top Ad Box -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4442711375881628"
             data-ad-slot="7221281726"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {[/mcapi.enableAdsense}}
    </div>
{{> footer }}
</body>
</html>
