<span class="right">
    {{#adverts.enable}}
    <a href="/advertise" class="btn purple waves-effect waves-light">Advertise</a>
    {{/adverts.enable}}
    <a href="/logout" class="btn red waves-effect waves-light">Logout</a>
</span>
<h3>Manage Account</h3>

<div class="card-panel red lighten-1 white-text" id="manage-error">
</div>

<div class="row" style="margin-bottom:3em">
    <div class="col m6 s12">
        <span class="right" style="margin-top:0.82rem">
            <button class="btn waves-effect waves-light orange accent-2 api-key-regenerate" style="font-size:12px">Re-generate key</button>
        </span>
        <h5>Your API Key</h5>
        <br>
        <div class="card-panel deep-purple accent-2">
            <p style="margin-top:0;text-align:center;font-weight:bold">{{deviceString}} below to reveal API key</p>
            <div class="api-key-box blur" data-clipboard-target=".api-key-text">
                <span class="api-key-text">{{user.api_key}}</span>
                {{! <span class="api-key-copy text-muted right">Click to copy!</span> }}
            </div>
        </div>

        <div class="api-regen-history-container">
            <h5 id="api-regen-history-title"{{{genTitleAttr}}}>Generation History</h5>
            <table class="bordered highlight api-regen-history">
                <tbody id="api-regen-body">
                    {{#changeHistory}}
                    <tr>
                        <td><strong>Re-generated API key to</strong><br>&nbsp;<span class="blur-3px text-muted">{{key}}</span></td>
                        <td><strong>{{geo.country}}</strong><br><small>{{browser}} &bull; {{os}}</small></td>
                        <td><abbr data-time="{{time_source}}" data-tooltip="{{time_date}}" class="simple-tip" data-position="top" title="{{time_date}}">{{time}}</abbr></td>
                    </tr>
                    {{/changeHistory}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col m6 s12">
        <h5>API Key Usage <small id="api-key-timeframe" data-tf="1d">Past Day</small></h5>{{!  TODO make it so people can select a different timeframe }}
        <br>
        <table class="bordered striped">
            <thead>
                <tr>
                    <td>Route</td>
                    <td>Uses &amp; Location</td>
                </tr>
            </thead>
            <tbody id="api-usage-body"></tbody>
        </table>
        <p style="text-align: center" id="api-history-load">
            Loading history&hellip;
            <span class="progress history-progress">
              <span class="indeterminate"></span>
          </span>
        </p>
    </div>
</div>