<h3>Privacy Policy</h3>
<p>MC-API.net is respects privacy, we won't sell or share information you give us to any third parties.</p>
<p>We also limit the amount of information we collect to a minimum, this includes basic request information such as IP address, browser type/version and referring website, as well as aggregated statistics about the usage of the APIs provided.</p>
<p>However, third party services we use may use cookies and/or log files, we suggest you review their policies which are linked at the bottom of this page.</p>
<p>We use advertisements to cover the costs of running this free service.</p>

<p><strong>Information Collected &mdash; Log Files</strong></p>
<p>Like many other websites, log files are stored containing information sent automatically by your browser, these files contain visitor's IP address, language, browser type, referring page and date and time of visit.</p>
<p>When using the API any information submitted in the request may be stored in these log files for future troubleshooting.</p>

<p><strong>Cookies</strong></p>
<p>MC-API.net does not directly use cookies, however services used to operate the service may, these are listed below. By continuing to use mc-api.net you agree to the use of cookies.</p>
<p>You may block cookies via your browser settings, however in some cases this may prevent access to the site (commonly determined by CloudFlare who use cookies for security)</p>

<p><strong>Third Party Advertising</strong></p>
<p>We also use third party advertisements on mc-api.net to support our site. Some of these advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, the browser you used to visit.</p>
<p>Google and its partners to serve ads based on your visits to this and/or other sites on the Internet.</p>
<p>You can opt-out of Google's use of cookies by visiting <a href="http://www.google.com/settings/ads">Google Ad Settings</a>.</p>
<p>General information about third-party use of cookies for advertising or to opt-out of these can be found at <a href="//aboutads.info">aboutads.info</a> and <a href="//youradchoices.com">youradchoices.com</a>.</p>

<p><strong>Analytics</strong></p>
<p>Google Analytics is used to track the amount of visitors to mc-api.net and where they are from.</p>
<p>Further, hits to the API are recorded and aggregated to produce usage statistics such as total number of hits per country.</p>

<p><strong>DigitalOcean</strong></p>
<p>mc-api.net uses DigitalOcean for a lot of its server hosting, there is a link at the bottom of every page with an affiliate/referral link to DigitalOcean.</p>
<p>DigitalOcean may place a cookie in your browser to track who referred you to them and reward both parties accordingly (as per their referral program)</p>

<p><strong>Third party services</strong></p>
<p>Third party services are used in the operation of this website, these are listed below. These may store log files and/or use cookies.</p>
<ul class="inline">
    <li><a href="https://cloudflare.com">CloudFlare</a> &mdash; <a href="https://www.cloudflare.com/cookie-policy/">Cookie Policy</a> and <a href="https://www.cloudflare.com/security-policy/">Security &amp; Privacy Policy</a></li>
    <li><a href="https://google.com/analytics">Google Analytics</a> and <a href="https://google.com/adsense">AdSense</a> &mdash; <a href="https://www.google.com/intl/en/policies/privacy/">Google Privacy Policy</a>, <a href="http://www.google.com/policies/technologies/ads/">Advertising Policy</a> and <a href="https://www.google.com/policies/privacy/partners/">Google Partner Policy</a></li>
</ul>
