<h3>Sandbox</h3>
<div class="card-panel cyan lighten-4">
    <span class="">
        <strong>What is this place?</strong>
        <br>
        This is our request sandbox, it allows you to see code samples and learn how to shape requests to our APIs.
        <br>To change the language the snippet appears as click the "Code Syntax" button below.
    </span>
</div>
<div class="row sanndbox-container">
    <div class="col s12 m5">
        <h4>Prepare your request</h4>
        <div class="parameters">

        </div>
    </div>
    <div class="col s12 m7">
        <h4>Example Code Snippet</h4>
        <div class="snippet">
            <div class="card">
                <div class="card-content">
                    <span class="right">
                        <a data-activates="langChangeDropdown" class="dropdown-button btn">Code Syntax</a>
                        <ul id='langChangeDropdown' class='dropdown-content'>
                            <li><a data-action="langChange" data-lang="node">Node.js</a></li>
                            <li><a data-action="langChange" data-lang="ruby">Ruby</a></li>
                            <li><a data-action="langChange" data-lang="go">Go</a></li>
                            <li><a data-action="langChange" data-lang="java">Java</a></li>
                            <li><a data-action="langChange" data-lang="php">PHP</a></li>
                            <li><a data-action="langChange" data-lang="python">Python</a></li>
                        </ul>
                    </span>
                    <span class="card-title" id="language">curl</span>
                    <div class="code-snippet"></div>
                </div>
            </div>
        </div>
    </div>
</div>