<h3>Our Social Links</h3>
<div class="row">
    <div class="col s12 m6">
        <a class="twitter-timeline" href="https://twitter.com/mc_api">Tweets by mc_api</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col s12 m6">
        <h5>Discord</h5>
        <p>We now have a Discord server, you can speak directly to the developers here.</p>
        <a target="_blank" rel="noopener" href="https://discord.gg/5SX6Uk3"><img style="max-width:80%" src="/assets/discord-logo.png"></a>
    </div>
</div>