html, body, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #FCFCFC;
}

a {
    word-wrap: break-word;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.1s ease-in;
    -o-transition: color 0.3s ease-in, background 0.1s ease-in;
    transition: color 0.3s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    text-decoration: none;
}

.card {
    margin-top: 3%;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #ABABAB;
    box-shadow: 0px 3px 10px #888888;
}

::selection {
    color: white;
    background: #3771AB;
}

::-moz-selection {
    color: white;
    background: #3771AB;
}

.text-muted {
    color: #8C8C8C;
}

.nav {
    margin-bottom: 5px;
}

hr {
    margin-top: 6px;
    margin-bottom: 6px;
}

.table-example, .table-example>tr, .table-example>td, .table-example>tbody, .table-example>tbody>tr, .table-example>tbody>tr>td {
    word-wrap: break-word;
}

.disclaimer {
    margin-top: 1%;
}

.content>p.hello {
    font-weight: 700;
    font-size: 23px;
}

.content>p.api-list {
    font-weight: 600;
    font-size: 20px;
}

.content>p.rules {
    font-weight: 600;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

code {
    color: #000000;
    background-color: #E0E0E0;
}

/* Created by icomoon so we don't need ALL of fontawesome */
@font-face {
    font-family: 'mcapi';
    src:    url('/fonts/mcapi.eot?thf7ia');
    src:    url('/fonts/mcapi.eot?thf7ia#iefix') format('embedded-opentype'),
        url('/fonts/mcapi.ttf?thf7ia') format('truetype'),
        url('/fonts/mcapi.woff?thf7ia') format('woff'),
        url('/fonts/mcapi.svg?thf7ia#mcapi') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mcapi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-refresh:before {
    content: "\e907";
}
.fa-trash-o:before {
    content: "\e900";
}
.fa-exclamation-triangle:before {
    content: "\e901";
}
.fa-bar-chart:before {
    content: "\e902";
}
.fa-bug:before {
    content: "\e903";
}
.fa-bolt:before {
    content: "\e904";
}
.fa-code:before {
    content: "\e905";
}
.fa-paypal:before {
    content: "\e906";
}

.fa-spin-quick {
    -webkit-animation: fa-spin .7s infinite linear;
    animation: fa-spin .7s infinite linear
}

@-webkit-keyframes fa-spin-quick {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin-quick {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
